@media only screen and (max-width: 1600px) {
    .header_holder {

        width: 100%;
        justify-content: end;
        column-gap: 3rem;
      }
}
@media only screen and (max-width: 1200px) {
    .nav__menu ul {
        column-gap: 2rem;
    }
}
@media only screen and (max-width: 1090px) {
    .nav__menu ul {
        column-gap: 2rem;
    }
    .hero__title h1 {
        font-size: 3rem;
    }
  }
  
@media only screen and (max-width: 1000px) {
    .body__layout {
        display: flex;
        flex-direction: column;
    }
    .header_holder {
        column-gap: 1rem;
    }
    .header__btn {
        display: flex;
        gap: 1rem;
    }
    .nav__menu ul li {
        font-size: 1rem;
        }
    .btn {
        font-size: 16px;
    }
   
    .carousel__container {
        margin-bottom: 1.7rem;
    }
    #hero {
        display:flex ;
        flex-direction: column;
    }
    .hero__container {
        display: flex;
        flex-direction: column;
    }
    
}

@media only screen and (max-width: 800px) {
    .hamburger{
        display: block;
        position: relative;
        z-index: 991;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav__menu ul{
        position: fixed;
        left: -100%;
        top:0;
        gap: 0;
        background: var(--primary-color);
        width: 100%;
        height: 100%;
        text-align: center;
        transition:0.3s;
        flex-direction:column;
        z-index: 99;
        padding-block: 7.5rem;
    }
    .nav__menu ul li{
        margin: 17px 0;
        font-size: 1.6rem;
    }
    .nav__menu ul.active{
        left: 0;
    }
    .header_holder {
        width: unset;
        column-gap: 1rem;
    }
    .header__nav {
        order: 1;
    }
    
}

@media only screen and (max-width: 600px) {
    .btn {
        line-height: 2.5rem;
      }
    .header__logo img {
        width: 60%;
    }
    .hero__title h1 {
        font-size: 2.5rem;
      }
      .header__btn {
        flex-direction: column;
        align-items: end;
        gap: 0.5rem;
    }
    .carousel__container {
        width: 300px; 
        margin: auto;
    }
  
    .review__box {
        flex: 0 0 280px;
    }
  }
  @media only screen and (max-width: 500px) {
    .hero__title h1 {
        font-size: 2rem;
        }
  }


 
